# Dependencies
node_modules/

# Environment variables
.env

# OAuth tokens
token.json

# Credentials
credentials.json
client_secret*.json

# Logs
*.log
npm-debug.log*

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# Optional npm cache directory
.npm

# Optional eslint cache
.eslintcache

# Optional REPL history
.node_repl_history

# Output of 'npm pack'
*.tgz

# dotenv environment variables file
.env
.env.test

# PM2 logs
.pm2/ 